.jumbotron.mx-auto.sign-in
  %h2 Log In
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email
      %br/
      = f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email"
    .field
      = f.label :password
      %br/
      = f.password_field :password, class: 'form-control', autocomplete: "off"
    %br/
    .actions
      = f.submit "Log in", class: 'btn btn-primary'
  %br/

  %span Need an account?
  = render "devise/shared/links"
